@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');


.text-center {
    background-color: pink;
    padding: 16px;
}

.title{
    color: grey;
    font-size: 4em;
    font-family: Dosis, 'sans-serif';
    font-weight: 800;
}

.content {
    background-color: green;
}

img {
    width: 200px;
    height: 200px;
    background-size: cover;
}

.card {
    width: 600px;
    height: 600px;
}
