@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


.title{
    color: black;
    font-size: 6em;
    font-family: Dosis, 'sans-serif';
    font-weight: 800;
}


img {
    width: 200px;
    height: 200px;
    background-size: cover;
}

.cards {
    margin-top: 80px;
}

.card {
    width: auto;
    height: auto;
}

#date {
    font-family: "Roboto Mono", monospace;
    font-size: 1em;
    font-weight: 400;
    font-style: normal;
    border: 1px solid #cdcdcd;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

p {
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

#caption{
    font-size: 0.8em;
    margin-top: 8px;
}

label {
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5em;
}

#btn-style {
    font-family: "Roboto Mono", monospace;
    font-weight: 800;
    background-color: #cdcdcd;
    font-size: 2em;
    padding: 8px 24px;
}

#btn-style:hover{
    background-color: #787878;
    color: white;
}